# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `warehouse_and_retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per supplier.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [1]:
#aggregate es la tabla"agrupada por" df.grupoby("columna") y luego una función de agregación(suma, máximo, media, primer valor que te encuentras, etc.)

In [4]:
# your code here
import numpy as np
import pandas as pd

In [5]:
pd.__version__ #mi versión de pandas

'2.0.3'

In [6]:
df = pd.read_csv('Warehouse_and_Retail_Sales_20240203.csv')

In [7]:
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [50]:

#tengo una columna con un nulo, otra con 167 y otra con 3 nulos

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [52]:
df.shape

(307645, 9)

In [55]:
df=df.dropna() #quitar todas las filas que tienen al menos un valor nulo. CUIDADO
#chequear donde están los nulos, ver si tiene sentido quitarlos, etc.
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [54]:
#307645 original y 307477 filas después de eliminar las filas con valores nulos. Tiene sentido.

In [56]:
#create the aggregates:

df.groupby('SUPPLIER').sum()

#no tiene sentido hacer la suma..¿18154 años??

,YEAR,MONTH,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
SUPPLIER,,,,,,,,
8 VINI INC,18154,74,3313483313483313483313483283823313483313483313...,SECOLI RIPASSO DELIO VAL DOC - 750MLSECOLI RIP...,WINEWINEWINEWINEWINEWINEWINEWINEWINE,2.53,2.00,1.00
A HARDY USA LTD,8068,33,44262442624426244262,BUNRATTY POTCHEEN GLASS - 750MLBUNRATTY POTCHE...,LIQUORLIQUORLIQUORLIQUOR,0.56,0.00,0.00
A I G WINE & SPIRITS,143285,450,1192291202003354521192291202003354521192291202...,TROCADERO SPARK(BRUT) - 750MLDOM DES FONTANELL...,WINEWINEWINEWINEWINEWINEWINEWINEWINEWINEWINELI...,13.24,4.92,197.00
A VINTNERS SELECTIONS,20162849,65284,1487171015321015671030551036081056511086341087...,YAEGAKI SAKE - 18LHATSUMAGO SAKE JUN MAI SHU -...,WINEWINEWINEWINEWINEWINEWINELIQUORWINEWINEWINE...,9482.87,8238.29,35241.97
A&E INC,84732,311,3118433126453130433387524628931264531304331184...,ORLANDO ABRIGO BARBERA D'ALBA - 750MLVILLA VIS...,WINEWINEWINEWINEWINEWINEWINEWINEWINEWINEWINEWI...,11.49,0.08,0.00
...,...,...,...,...,...,...,...,...
WITH MALUS AFORETHOUGHT LLC,4040,18,356900356904,CAPITAL CUVEE CIDER - 6/4 CANLIFE'S A PEACH 6...,BEERBEER,0.00,0.00,15.00
YOUNG WON TRADING INC,3946139,12533,1034510346104280107352107816142061626391626551...,KLOUD - 500/12 NRKLOUD - 330/24 NRSHO CHIKU BA...,BEERBEERWINEWINEWINEWINEWINEWINEWINEWINEWINEWI...,3389.14,3310.79,7090.95
YUENGLING BREWERY,926514,2922,2373323924254952810290929172925305030773085309...,YUENGLING LIGHT 2/12 CAN - 12OZYUENGLING LAGER...,BEERBEERBEERBEERBEERBEERBEERBEERBEERBEERBEERBE...,23027.70,22402.13,134147.86
Z WINE GALLERY IMPORTS LLC,88784,297,3321042327162336843125223455883455923455993456...,ALAIN GEOFFREY CHAB - 750MLDOM DU VISTRE CUV G...,WINEWINEWINEWINEWINEWINEWINEWINEWINEWINEWINEWI...,19.40,18.25,30.00
ZURENA LLC,46424,143,3006143006143006143006143006143006143006143006...,ZURENA LOVE ELIXIR CRAFT COCKTAIL MIXER - 750M...,NON-ALCOHOLNON-ALCOHOLNON-ALCOHOLNON-ALCOHOLNO...,31.28,22.67,0.00

In [57]:
grupo_supplier = df.groupby('SUPPLIER').agg({'YEAR': 'max',
                                            'RETAIL SALES': 'sum',
                                             'RETAIL TRANSFERS':'sum', 
                                            'WAREHOUSE SALES': 'sum'
                                                })
grupo_supplier     

#así tiene más sentido: ver las ventas por supplier

,YEAR,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
SUPPLIER,,,,
8 VINI INC,2018,2.53,2.00,1.00
A HARDY USA LTD,2017,0.56,0.00,0.00
A I G WINE & SPIRITS,2020,13.24,4.92,197.00
A VINTNERS SELECTIONS,2019,9482.87,8238.29,35241.97
A&E INC,2019,11.49,0.08,0.00
...,...,...,...,...
WITH MALUS AFORETHOUGHT LLC,2020,0.00,0.00,15.00
YOUNG WON TRADING INC,2020,3389.14,3310.79,7090.95
YUENGLING BREWERY,2020,23027.70,22402.13,134147.86
Z WINE GALLERY IMPORTS LLC,2020,19.40,18.25,30.00
ZURENA LLC,2020,31.28,22.67,0.00

In [41]:
df.groupby('ITEM CODE').sum()

,YEAR,MONTH,SUPPLIER,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
ITEM CODE,,,,,,,,
100002,2017,7,RELIABLE CHURCHILL LLLP,PATRON TEQUILA SILVER LTD - 1L,LIQUOR,0.17,0.0,0.00
100007,8076,30,CONSTANTINE WINES INCCONSTANTINE WINES INCCONS...,LA CETTO CAB SAUV - 750MLLA CETTO CAB SAUV - 7...,WINEWINEWINEWINE,0.00,0.0,4.00
100008,6051,23,CONSTANTINE WINES INCCONSTANTINE WINES INCCONS...,AMITY VINEYARDS P/NOIR 2013 - 750MLAMITY VINEY...,WINEWINEWINE,0.00,0.0,3.00
100009,26244,77,REPUBLIC NATIONAL DISTRIBUTING COREPUBLIC NATI...,BOOTLEG RED - 750MLBOOTLEG RED - 750MLBOOTLEG ...,WINEWINEWINEWINEWINEWINEWINEWINEWINEWINEWINEWI...,1.72,0.0,18.00
100011,6055,25,INTERBALT PRODUCTS CORPINTERBALT PRODUCTS CORP...,PAPI P/GRIG - 1.5LPAPI P/GRIG - 1.5LPAPI P/GRI...,WINEWINEWINE,0.00,0.0,3.00
...,...,...,...,...,...,...,...,...
99970,48444,152,COASTAL BREWING COMPANY LLCCOASTAL BREWING COM...,DOMINION OAK BARREL STOUT 4/6 NR - 12OZDOMINIO...,BEERBEERBEERBEERBEERBEERBEERBEERBEERBEERBEERBE...,155.33,151.0,717.75
99988,18167,31,BOSTON BEER CORPORATIONBOSTON BEER CORPORATION...,SAM ADAMS COLD SNAP 1/6 KGSAM ADAMS COLD SNAP ...,KEGSKEGSKEGSKEGSKEGSKEGSKEGSKEGSKEGS,0.00,0.0,220.00
99990,24225,73,BOSTON BEER CORPORATIONBOSTON BEER CORPORATION...,SAM ADAMS SUMMER VARIETY 12PK NRSAM ADAMS SUMM...,BEERBEERBEERBEERBEERBEERBEERBEERBEERBEERBEERBEER,344.16,319.0,2104.00
BC,46424,143,0,BEER CREDITBEER CREDITBEER CREDITBEER CREDITBE...,REFREFREFREFREFREFREFREFREFREFREFREFREFREFREFR...,0.00,0.0,-10651.00
WC,48444,152,0,WINE CREDITWINE CREDITWINE CREDITWINE CREDITWI...,REFREFREFREFREFREFREFREFREFREFREFREFREFREFREFR...,0.00,0.0,-2048.00

In [58]:
grupo_item = df.groupby('ITEM CODE').agg({'YEAR': 'max',
                                            'RETAIL SALES': 'sum',
                                             'RETAIL TRANSFERS':'sum', 
                                            'WAREHOUSE SALES': 'sum',
                                              'ITEM TYPE': 'first'
                                                })
grupo_item

           YEAR  RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES ITEM TYPE
ITEM CODE
100002     2017          0.17              0.00             0.00    LIQUOR
100007     2019          0.00              0.00             4.00      WINE
100008     2017          0.00              0.00             3.00      WINE
100009     2020          1.72              0.00            18.00      WINE
100011     2019          0.00              0.00             3.00      WINE
...         ...           ...               ...              ...       ...
9989       2019          1.50              1.00             8.00      BEER
9997       2020       1952.95           1917.92          5335.55      BEER
99970      2020        155.33            151.00           717.75      BEER
99988      2020          0.00              0.00           220.00      KEGS
99990      2020        344.16            319.00          2104.00      BEER

[34039 rows x 5 columns]

In [59]:

df.to_csv('clean.csv')

In [60]:
grupo_item.to_csv('item.csv')

In [61]:
grupo_supplier.to_csv("supplier.csv")